.collection .collection-item.active {
        background-color: #90caf9 !important;
    }

    .disposition-loader {
        background-color: rgb(12, 34, 56);
        position: absolute;
        left: -100px !important;
        right: -100px !important;
        top: 0 !important;
        bottom: 0 !important;
        text-align: center;
    }

#listPanel {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
    border: solid 2px #fff;
    -ms-border-radius: 4px;
    border-radius: 4px; 
    /*width: 300px !important;*/ 
    bottom: 10px !important; 
    left: 15px; 
    top: 55px !important;
    -webkit-transition: all 300ms cubic-bezier(.35,0,.25,1)!important;
    -moz-transition: all 300ms cubic-bezier(.35,0,.25,1) !important;
    -ms-transition: all 300ms cubic-bezier(.35,0,.25,1) !important;
    -o-transition: all 300ms cubic-bezier(.35,0,.25,1) !important;
    transition: all 300ms cubic-bezier(.35,0,.25,1) !important
       
}
div.history-collection-control{
    position: absolute; 
    left: 0 !important; 
    right: 0; 
    top: 0; 
    bottom: 45px;  
    padding-top: 1px;
     padding-bottom: 1px;
      padding-left: 1px;
}
#listPanelDisposition {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
    border: solid 2px #fff;
    -ms-border-radius: 2px;
    border-radius: 2px;  
    bottom: 10px !important; 
    left: 350px; 
    right: 20px; 
    top: 55px !important;
    -webkit-transition: all 300ms ease-out !important;
    -moz-transition: all 300ms ease-out !important;
    -ms-transition: all 300ms ease-out !important;
    -o-transition: all 300ms ease-out !important;
    transition: all 300ms ease-out !important;
}
.disposition-icon{
position: absolute; right: 25px; top: 20px;-webkit-transition: all 300ms ease-out !important;
    -moz-transition: all 300ms ease-out !important;
    -ms-transition: all 300ms ease-out !important;
    -o-transition: all 300ms ease-out !important;
    transition: all 300ms ease-out !important;
}
.disposition-text {
    display: inline-block; margin-top: -2px; font-weight: 500;-webkit-transition: all 300ms ease-out !important;
    -moz-transition: all 300ms ease-out !important;
    -ms-transition: all 300ms ease-out !important;
    -o-transition: all 300ms ease-out !important;
    transition: all 300ms ease-out !important;
}
@media only screen and (max-width : 952px) {
    .disposition-header {
        display: none!important;
    }
     .disposition-icon{
    position: absolute; left:25px; top:-5px;

    }
}
@media only screen and (max-width : 600px) {
    .disposition-icon{
    position: absolute; left:10px; top:-5px;

}

    .refresh{}
   

    

    #listPanel2 {
        left: 0; 
        top: 35px !important;
        bottom:15px !important;
        right:0; 
         -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.0), 0 2px 10px 0 rgba(0, 0, 0, 0.0);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
    border: solid 2px #fff;
    -ms-border-radius: 4px;
    border-radius: 4px; 
     -webkit-transition: all 300ms cubic-bezier(.35,0,.25,1)!important;
    -moz-transition: all 300ms cubic-bezier(.35,0,.25,1) !important;
    -ms-transition: all 300ms cubic-bezier(.35,0,.25,1) !important;
    -o-transition: all 300ms cubic-bezier(.35,0,.25,1) !important;
    transition: all 300ms cubic-bezier(.35,0,.25,1) !important
    }
    #listPanelDisposition {
        left: 0; 
        right: 0; 
        top:35px !important;
    }
}
 @media only screen and (max-width : 450px) {
        .disposition-text {
            font-size: 2.0rem !important;
        }
     
 }
div.history-detail-title {
    padding: 25px; font-size: 3.0rem;
    position: relative;
}
div.history-detail-cc {
    padding: 15px; font-size: 2.0rem;
}
span.history-title-control {
    display: block;
    height: 5px;
    margin-left: 15px;
}

    span.history-title-control span.icon-wrapper {
        position: absolute;
        width: 25px;
        top: 15px;
        left: 15px;
    }

        span.history-title-control span.icon-wrapper .extender {
            margin-top: 4px !important;
        }

    span.history-title-control span.text-wrapper {
        position: absolute;
        top: 15px;
        left: 45px;
    }

        span.history-title-control span.text-wrapper span {
            line-height: 1.2rem !important;
        }

span.history-patient-control {
    margin-left: -5px;
    margin-top: 15px;
    display: block !important;
    width: 280px;
    height: 15px;
    clear: both !important;
}

    span.history-patient-control span.text-col-1-wrapper {
        float: left;
        width: 75px;
        font-size: .8rem;
    }

        span.history-patient-control span.text-col-1-wrapper span.lbl-extender {
            width: 55px !important;
            display: inline-block;
        }

    span.history-patient-control span.text-col-2-wrapper {
        float: left;
        font-size: .8rem !important;
        margin-top: 3px !important;
    }

span.history-group-control {
    margin-left: -5px;
    margin-top: 5px;
    display: block !important;
    width: 280px;
    height: 15px;
    clear: both !important;
}

    span.history-group-control span.text-col-1-wrapper {
        float: left;
        width: 75px;
    }

        span.history-group-control span.text-col-1-wrapper span.lbl-extender {
            width: 55px !important;
            display: inline-block;
        }

    span.history-group-control span.text-col-2-wrapper {
        float: left;
        font-size: 1.0rem !important;
        margin-top: 3px !important;
    }

span.history-date-control {
}

    span.history-date-control span.text-col-1-wrapper {
        position: absolute;
        top: 42px;
        right: 10px;
    }

    span.history-date-control span.text-col-2-wrapper {
        position: absolute;
        top: 63px;
        right: 10px;
    }

        span.history-date-control span.text-col-2-wrapper span.text {
            float: left;
            font-size: 1.0rem !important;
            margin-top: 3px !important;
        }

        span.history-state-control {
            position: absolute; top: 8px; right: 15px;
        }
        span.history-state-control span.floating-ext {
            border-radius: 50px; width: 25px !important; height: 25px !important;
        }
        span.history-state-control span.text {
            position: absolute; top: -5px; width: 26px; text-align: center; font-size: 1.3rem; font-weight: 500;
        }

header.sub-heading {
    font-size: 1.5rem;
    font-weight: 500;
    padding:8px;
    padding-left:15px;
}
.planofcare-text {
    font-size: 1.7rem;
    padding: 15px;
}

.cw-content-emessages-footer {
    bottom: 0 !important;
    -webkit-transition: bottom 200ms ease-out;
    -moz-transition: bottom 200ms ease-out;
    -ms-transition: bottom 200ms ease-out;
    -o-transition: bottom 200ms ease-out;
    transition: bottom 200ms ease-out;
}

.cw-content-emessages-footer.active {
     bottom: 75px !important;
}
.cw-content-no-footer {
    bottom: 0 !important;
}

#scroll-view-mask {
    position: absolute; left: 0; right: 0; top: 45px; height: 25px;z-index:55;overflow: hidden;
}
#scroll-view-shadow-treatment {
    position: absolute; 
    left:-10px; right: 0; top: -24px; height: 25px;
    z-index:55;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    background-color: #fff;
}
#nav-scroll-view-mask {
    position: absolute;left: 15px; right: 15px; top: 64px; height: 25px;z-index:55;overflow: hidden;
}
#nav-scroll-scroll-view-shadow-treatment {
    position: absolute;
    left: 15px;right: -25px; top: -24px; height: 25px;
    z-index:55;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    background-color: #fff;
}

.exit-app {
     -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.exit-app:link i, .exit-app:visited i{
    color: #ffffff;


}
.exit-app:hover i {
     color: #862197 !important;

}
.exit-app:active i {
     color:rgb(12,34,56) !important;

}


.top-link-icons:link i, .top-link-icons:visited i {
    color: #039be5!important;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.top-link-icons:hover i {
    color: #fff!important;
}


.bc-extend {
    margin-top: 8px;
}

.account-settings-table {
    
}

@media(max-width: 649px) {
    .bc-extend {
    margin-top: 0;
        border-radius: 0;
}

    .account-settings {
     margin-top: 0;
}
    .account-settings-col {
        margin-top: -2px;
    }
}

.top-link-icons:link > table > tr > td, 
.top-link-icons:visited > table > tr > td {
    background-color: rgb(16,108,200);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.top-link-icons:hover > table > tr > td {
    background-color: #fff;
}

.top-link-icons:hover > table > tr > td >  i.m-option-icon {
    color: #862197;
    
}

.dialog-wrapper {
    position: absolute;
    top: 0;left: 0;right: 0;
    bottom: 0;
    z-index:10001
}
.dialog-background {
    position: absolute;
    z-index: 10002;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .7);
}
.dialog-container {
    position: absolute;
    z-index: 10003;
    height: 100vh;
    width: 100vw;
}


.dialog-logo {
  max-height: 130px;min-height: 100px;margin-left:-20px;margin-bottom:10px; 
}
.dialog {
            display: block;
            margin: auto;
            margin-left: auto;
            margin-right: auto;
            max-width: 600px!important;
            width: -moz-min-content;    /* Firefox */
            width: -webkit-min-content; /* Chrome */
            width: -webkit-fit-content; /* Chrome */
            width: -moz-fit-content;
            width: fit-content;

            height: -moz-min-content;    /* Firefox */
            height: -webkit-min-content; /* Chrome */
            height: -webkit-fit-content; /* Chrome */
            height: -moz-fit-content;
            height: fit-content;
            height: auto;
            padding: 24px;

            padding-bottom: 28px!important;
            background: white;
            -webkit-border-radius: 0!important;
            -moz-border-radius: 0!important;
            border-radius: 0!important;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
        }
        .title {
            font-size: 1.2em;
            font-weight: bold;
            display: block;
            text-transform: capitalize;
            margin: 0;
            margin-bottom: 15px;
        }
        p.content {
            display: inline-block;
            padding-bottom: 16px;
            margin: 0;
            width: fit-content;
            width: -moz-fit-content;
        }
        .dialog-actions {
            height: 48px;
            width: 100%;
            border-top: solid 1px #ccc;
        }
        /*.dialog-actions button {
            display: inline-block;
            background: white;
            border: none;
            outline: none;
            height: 36px;
            float: right;
            text-transform: uppercase;
            color: royalblue;
            cursor: pointer;
            padding-left: 8px;
            padding-right: 8px;
            vertical-align: middle;
        }*/
        .dialog-actions button:focus,.dialog-actions button:hover {
            background: #f5f2ff;
            border-radius: 5px;
        }


        .btn-danger:not(.btn-link):not(.btn-flat) {
    background-color: #fF0000!important;
    color: rgba(255,255,255,.84);
}


   .title-bar-lnk-2 {
     display:inline-block;
       transition: all 300ms ease-out;
 }
   .title-bar-lnk-2:link i, .title-bar-lnk-2:visited i {
        color: #FFFFFF !important;
    }
    .title-bar-lnk-2:hover i {
        color: #862197 !important;
    }
     .title-bar-lnk-2:active i {
        color: #8a2be2 !important;

    }

.title-bar-lnk-splitter-2 {
    display: none;
}
@media (max-width: 768px) {

    .title-bar-lnk {
     display: inline-block;
    }
    .title-bar-lnk:link i {
        color: #FFFFFF !important;
    }
    .title-bar-lnk:hover i {
        color: #862197 !important;
    }
    .title-bar-lnk-splitter-2 {
        display: block;
    right: 95px;
    top: -17px;
    height: 75px;
    width: 1px;
    background-color: rgba(250, 250, 250, .3);
    position: absolute;
}
    
}
.title-bar-lnk-splitter {
    right: 45px;
    top: -17px;
    height: 75px;
    width: 1px;
    background-color: rgba(250, 250, 250, .3);
    position: absolute;
}

.material-tooltip {
    font-size: 1.4rem !important;
}
.backdrop {
    background-color: #862197 !important;
}

.dialogTextContainer {
    font-size: 1.5rem; line-height: 1.6rem; font-weight: 500; margin-left: -25px;
}
.dialogSignOutTitle{
                         font-weight: 700; 
                         text-transform: uppercase;
                         font-size:1.5rem!important;
    display: block;
    clear: both;
    margin-bottom: 8px;
                        }

.dialogSignOutText {
    font-size: 1.4rem;
    line-height: 2.0rem;
    transition: all 200ms ease-in-out;
    font-weight: 300;
    color: #222;
}

@media (max-width: 605px) {
    .dialogSignOutTitle{
        font-size: 1.8rem;
                        }

    .dialogSignOutText {
    font-size: 1.4rem;
    line-height: 1.8rem;
}
    .dialogTextContainer {
        margin-left: 5px;
    }
}
