<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--#region[@IdentityServer] -->
    <!--[@ Identity Server Configuration Settings      @]-->
    
    
    
    
    <add key="APP:PORTAL" value="MEMBERS" />
    <!-- [@====================================================@]-->
    <!-- [@   -  Server Specific Settings   -                  @]-->
    <!-- [@====================================================@]-->
    
    <add key="IDS:SRV:URL" value="https://ids1888md.com/identity" />
    
    <add key="IDS:SRV:ISSUER:URI" value="https://idssrv/internal" />
    
    
    <!-- [@====================================================@]-->
    <!-- [@   -  Client Specific Settings   -                  @]-->
    <!-- [@====================================================@]-->
    
    
    <add key="CLIENT:ID:MEMBERS" value="1800MD-MemberPortal-1" />
    <add key="CLIENT:NAME:MEMBERS" value="1800MD Member Portal" />
    <!--
    
      Ported these values out the main startup class, to port startup class to external class lib. 
    -->
    <!-- [@====================================================@]-->
    
    <!-- [@   -  StartUp Settings    -                         @]-->
    <!-- [@====================================================@]-->
    <add key="CLIENT:START:UP:SCOPE:MEMBERS" value="openid profile roles all_claims" />
    <add key="CLIENT:START:UP:SECRET:MEMBERS" value="51FC860D-07D3-4296-9147-2E40AC7FF6C8" />
    
    <add key="CLIENT:START:UP:RESPONSE:TYPE:MEMBERS" value="id_token token" />
    <add key="CLIENT:START:UP:SIGN:AUTHENTICATION:TYPE:MEMBERS" value="Cookies" />
    <!-- [@====================================================@]-->
    <!-- [@   -  URL REDIRECT Settings   -                     @]-->
    <!-- [@====================================================@]-->
    <add key="CLIENT:URL:MEMBERS" value="https://localhost:44302/" />
    <add key="CLIENT:LOGOUT:URL:MEMBERS" value="https://localhost:44302/Connected.aspx" />
    <!--
        [
          The url needs to be a fully qualified url. ie:
          string redirectUrl = "https://localhost:44301/Connected.aspx" or      
          string redirectUrl = "https://www.1888md.com/doctors/connected.aspx"
        ]-->
    <!-- -->
    <!--#endRegion -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--<clientConfiguration2 clientID="1800MD-MemberPortal-1"
    clientName="1800MD Member Portal" clientSecret="51FC860D-07D3-4296-9147-2E40AC7FF6C8" isEnabled="true">
    <clientURLs>
      <add clientURL="https://localhost:44300/" />
    </clientURLs>
    <postLogoutRedirectUris>
      <add redirectToClientName="Default" redirectToClientURL="https://localhost:44301/" />
      <add redirectToClientName="DemoPartner1" redirectToClientURL="https://localhost:44469/" />
    </postLogoutRedirectUris>
    <scopes>
      <add scopeName="openid" />
      <add scopeName="profile" />
      <add scopeName="email" />
      <add scopeName="roles" />
      <add scopeName="all_claims" />
    </scopes>
  </clientConfiguration2>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" executionTimeout="3600" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
   <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
   </security>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Behavior1">
          <clientCredentials>
            <clientCertificate findValue="1800MD-WS-Client" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My" />
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicServiceEndpoint_UMS" />
        <binding name="basicServiceEndpoint_EMS" />
        <binding name="basicServiceEndpoint_AMS" />
        <binding name="basicServiceEndpoint_GMS" />
        <binding name="basicServiceEndpoint_BSCS" />
        <binding name="basicServiceEndpoint_IMS" />
        <binding name="basicServiceEndpoint_MSS" maxBufferPoolSize="524288555" maxBufferSize="655365554" maxReceivedMessageSize="655365554" />
        <binding name="basicServiceEndpoint_ACS" />
        <binding name="basicServiceEndpoint_MPS" />
        <binding name="basicServiceEndpoint_CMS" />
        <binding name="basicServiceEndpointClients" />
        <binding name="basicServiceEndpoint_MPMS" />
        <binding name="basicServiceEndpoint_GPH" />
        <binding name="basicServiceEndpoint_MPMS_SM" />
        <binding name="basicServiceEndpoint_PDMS" />
        <binding name="basicServiceEndpoint_IMS_SF" />
        <binding name="basicServiceEndpoint_CDMS" maxBufferPoolSize="524288555" maxBufferSize="655365554" maxReceivedMessageSize="655365554" />
        <binding name="basicServiceEndpoint_CES" />
        <binding name="SingleSignonRxNTWebServiceSoap" sendTimeout="00:05:00">
          <security mode="Transport" />
        </binding>
        <binding name="basicServiceEndpoint_OMS" maxBufferPoolSize="524288555" maxBufferSize="655365554" maxReceivedMessageSize="655365554" />
        <binding name="basicServiceEndpoint_RPS" />
        <binding name="basicServiceEndpoint_IVR_AUDIO" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SingleSignonRxNTWebServiceSoap12" sendTimeout="00:05:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="wsServiceEndpoint">
          <security>
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="wsServiceBEnityManagmentEndpoint">
          <security>
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="wsUserManagementServiceEndpoint">
          <security>
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="wsAuthPackage1Endpoint">
          <security>
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.AUTH/UserManagementService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_UMS" contract="UMS.IUserManagementService" name="basicServiceEndpoint_UMS" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.CES/BEntityManagementService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_EMS" contract="EMS.IBEntityManagementService" name="basicServiceEndpoint_EMS" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.AUTH/AuthenticationService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_AMS" contract="AMS.IAuthenticationService" name="basicServiceEndpoint_AMS" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.CES/GroupManagementService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_GMS" contract="GMS.IGroupManagementService" name="basicServiceEndpoint_GMS" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.CES/BusinessSettingsConfigurationService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_BSCS" contract="BSCS.IBusinessSettingsConfigurationService" name="basicServiceEndpoint_BSCS" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.EMS/EligibilityManagementService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_IMS" contract="IMS.IEligibilityManagementService" name="basicServiceEndpoint_IMS" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.AMS/MemberSearchService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_MSS" contract="MSS.IMemberSearchService" name="basicServiceEndpoint_MSS" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.AMS/AccountManagementService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_ACS" contract="ACS.IAccountManagementService" name="basicServiceEndpoint_ACS" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.CES/MembershipPlanManagementService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_MPS" contract="MPS.IMembershipPlanManagementService" name="basicServiceEndpoint_MPS" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.CES/ClientManagementService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpointClients" contract="ClientReference.IClientManagementService" name="basicServiceEndpointClients" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.CES/ClientManagementService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_CMS" contract="CMS.IClientManagementService" name="basicServiceEndpoint_CMS" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.MPMS/MedicalPractitionerManagementService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_MPMS" contract="MPMS.IMedicalPractitionerManagementService" name="basicServiceEndpoint_MPMS" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.AUTH/AuthPackage1Service.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_GPH" contract="GPH.IAuthPackage1" name="basicServiceEndpoint_GPH" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.MPMS/ScheduleManagementService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_MPMS_SM" contract="MPMS.SM.IScheduleManagementService" name="basicServiceEndpoint_MPMS_SM" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.PDMS/ProductManagementService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_PDMS" contract="PDMS.IProductManagementService" name="basicServiceEndpoint_PDMS" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.EMS/EligibilitySchedulingAndFulfillmentService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_IMS_SF" contract="IMS.SF.IEligibilitySchedulingAndFulfillmentService" name="basicServiceEndpoint_IMS_SF" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.CDMS/ClinicalDataManagementService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_CDMS" contract="CDMS.IClinicalDataManagementService" name="basicServiceEndpoint_CDMS" />
      <endpoint address="https://stage.rxnt.com/webservices/rxnt/rxntwsv2/SingleSignonRxNTWebService.asmx" binding="basicHttpBinding" bindingConfiguration="SingleSignonRxNTWebServiceSoap" contract="RXNT.SingleSignonRxNTWebServiceSoap" name="SingleSignonRxNTWebServiceSoap" />
      <endpoint address="https://stage.rxnt.com/webservices/rxnt/rxntwsv2/SingleSignonRxNTWebService.asmx" binding="customBinding" bindingConfiguration="SingleSignonRxNTWebServiceSoap12" contract="RXNT.SingleSignonRxNTWebServiceSoap" name="SingleSignonRxNTWebServiceSoap12" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.OMS/OrderProcessingService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_OMS" contract="OMS.IOrderProcessingService" name="basicServiceEndpoint_OMS" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.CES/CommonInfoService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_CES" contract="CES.ICommonInfoService" name="basicServiceEndpoint_CES" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.REPORTS/ConsultationsReportsService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_RPS" contract="RPS.IConsultationsReportsService" name="basicServiceEndpoint_RPS" />
      <endpoint address="http://cs1800md3.cloudapp.net:82/LG.IVR.AUDIO/AudioManagementService.svc" binding="basicHttpBinding" bindingConfiguration="basicServiceEndpoint_IVR_AUDIO" contract="IVR.AUDIO.IAudioManagementService" name="basicServiceEndpoint_IVR_AUDIO" />
    </client>
    <diagnostics>
      <endToEndTracing activityTracing="true" messageFlowTracing="true" propagateActivity="true" />
    </diagnostics>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
         to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
     -->
  </runtime>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>