<div class="container">
    <div class="row" style="margin: 15px;">
        <!--col s10 offset-s1 col-s-push-1 m10 offset-m1 col-m-push-1  l10 offset-l1 col-l-push-1--> 
        <div class="col s12 m12 l12">
            <div class="card deep-orange accent-4 fadeInUp animated-200-delay">
                <div class="card-content white-text waves-effect waves-block waves-light"
                     style="min-height: 150px !important;" data-bind="click:function(data,event){ $data.navigateClick(data,event, 2);}">
                    <span class="card-title">
                        <i class="material-icons" style="font-size: 5rem;">history</i><br />
                        Consultation History
                    </span>
                    <p>
                        You have no consults.
                    </p>
                </div>
                <div class="card-action white">
                    <a class="waves-effect waves-orange btn-flat blue-text" data-bind="click:function(data,event){ $data.navigateClick(data,event, 2);}">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>
